.div
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
}

.a p,
.a h3,
.a h5
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.overflow
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

.arrowItem
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.arrowItem:after
{
  content: '→';
  margin-left: 0.25rem;
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: left;
}

.arrowItem:hover:after
{
  transform: scaleX(1.3);
}