.div
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
}

.a p
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.a h5
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.a h3
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.arrowItem
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.arrowItem:after
{
  content: '→';
  margin-left: 0.25rem;
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: left;
}

.arrowItem:hover:after
{
  transform: scaleX(1.3);
}