:root
{
  --kai-black: #000000;
  --kai-darkgrey: #aaaaaa;
  --kai-grey: #eeeeee;
  --kai-lightgrey: #fafafa;
  --kai-white: #ffffff;
  --kai-priority-green: #05ce0b;
  --kai-priority-black: #000000;
  --kai-priority-red: #ff5656;
}