:root
{
  --kai-black: #000000;
  --kai-darkgrey: #aaaaaa;
  --kai-grey: #eaeaea;
  --kai-lightgrey: #f7f7f7;
  --kai-white: #ffffff;
  --kai-priority-green: #05ce0b;
  --kai-proproty-black: #000000;
  --kai-proproty-red: #ff5656;
}