/* ExtraLight weight */
@font-face
{
  font-family: 'Manrope';
  src: url('/fonts/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Light weight */
@font-face
{
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Normal weight */
@font-face
{
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Medium weight */
@font-face
{
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* SemiBold weight */
@font-face
{
  font-family: 'Manrope';
  src: url('/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Bold weight */
@font-face
{
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold weight */
@font-face
{
  font-family: 'Manrope';
  src: url('/fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root
{
  --kai-font-family: 'Manrope', sans-serif;

  --kai-font-size-h1: 5rem;
  --kai-font-size-h2: 3rem;
  --kai-font-size-h3: 1.7rem;
  --kai-font-size-h4: 1.4rem;
  --kai-font-size-h5: 0.9rem;
  --kai-font-size-paragraph: 1.25rem;
  --kai-font-size-footnote: 0.9rem;

  --kai-line-height-h1: 6.5rem;
  --kai-line-height-h2: 3.75rem;
  --kai-line-height-h3: 2.5rem;
  --kai-line-height-h4: 2rem;
  --kai-line-height-h5: 1.4rem;
  --kai-line-height-paragraph: 2.25rem;
  --kai-line-height-footnote: 1.5rem;

  --kai-font-weight-extra-light: 200;
  --kai-font-weight-light: 300;
  --kai-font-weight-normal: 400;
  --kai-font-weight-medium: 500;
  --kai-font-weight-semi-bold: 600;
  --kai-font-weight-bold: 700;
  --kai-font-weight-extra-bold: 800;
}