section.content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 100px;
  margin: 0;
  max-width: 1700px;
  position: relative;
}

div.layer-text
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px 200px;
  margin: auto;
  width: 100%;
  max-width: 1100px;
  position: relative;
  background-color: var(--kai-lightgrey);
}

@media screen and (min-width: 768px) and (max-width: 1279px)
{
  section.content
  {
    padding: 0px 50px;
    max-width: 1400px;
  }

  div.layer-text
  {
    padding: 50px 100px;
    max-width: 900px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px)
{
  section.content
  {
    padding: 0px 20px;
    max-width: 1000px;
  }

  div.layer-text
  {
    padding: 50px 50px;
    max-width: 800px;
  }
}

@media screen and (max-width: 575px)
{
  section.content
  {
    padding: 0px 0px;
    max-width: 750px;
  }

  div.layer-text
  {
    padding: 50px 40px;
    max-width: 700px;
  }
}