.section-content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  max-width: 1700px;
  position: relative;
  background-color: var(--kai-grey);
}