@import url('@/css/fonts.css');
@import url('@/css/colors.css');

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-family: var(--kai-font-family);
  color: var(--kai-black);
  /* background-color: var(--kai-lightgrey); */
}

h1
{
  font-size: var(--kai-font-size-h1);
  line-height: var(--kai-line-height-h1);
  font-weight: var(--kai-font-weight-semi-bold);
  color: var(--kai-black);
  letter-spacing: 0.02rem;
  margin-top: 60px;
  margin-bottom: 20px;
}

h2
{
  font-size: var(--kai-font-size-h2);
  line-height: var(--kai-line-height-h2);
  font-weight: var(--kai-font-weight-semi-bold);
  color: var(--kai-black);
  letter-spacing: 0.02rem;
  margin-top: 60px;
  margin-bottom: 20px;
}

h3
{
  font-size: var(--kai-font-size-h3);
  line-height: var(--kai-line-height-h3);
  font-weight: var(--kai-font-weight-semi-bold);
  color: var(--kai-black);
  letter-spacing: 0.02rem;
  margin-top: 60px;
  margin-bottom: 20px;
}

h4
{
  font-size: var(--kai-font-size-h4);
  line-height: var(--kai-line-height-h4);
  font-weight: var(--kai-font-weight-semi-bold);
  color: var(--kai-black);
  letter-spacing: 0.02rem;
  margin-top: 60px;
  margin-bottom: 20px;
}

h5
{
  font-size: var(--kai-font-size-h5);
  line-height: var(--kai-line-height-h5);
  font-weight: var(--kai-font-weight-bold);
  color: var(--kai-darkgrey);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

p
{
  font-size: var(--kai-font-size-paragraph);
  line-height: var(--kai-line-height-paragraph);
  font-weight: var(--kai-font-weight-normal);
  color: var(--kai-black);
  letter-spacing: 0.02rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

li
{
  font-size: var(--kai-font-size-paragraph);
  line-height: var(--kai-line-height-paragraph);
  font-weight: var(--kai-font-weight-normal);
  color: var(--kai-black);
  letter-spacing: 0.02rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

a
{
  text-decoration: none;
  color: var(--kai-black);
}

a:hover
{
  cursor: pointer;
}